<div class="mainsplash">
<h1 class="mainsplashtitle"> Welcome to the .Social </h1>
</div>
<div class="divider1">
  <row>
    <div class="col-xs-6">
  <h2> .Social basics </h2>
  <p> The .Social is a new way to communicate and share anything and everything in a quick, simple way.</p>
    </div>
    <div class="col-xs-6">
      <%= image_tag "chalkboard101.png", style: 'width: 95%' %>
    </div>
  </row>
</div>