<h1 class="pagetitle"> Discover </h1>
<div  class="pagecontent">
<row>
  <div class="col-sm-9" style="min-height: 350px;">
    <div class="list-group">
      <% @boards.each do |x| %>
      <%= link_to x, class: "list-group-item" do %>
          <h4 class="list-group-item-heading"><%= x.name %></h4>
          <p class="list-group-item-text"><%= x.description %></p>
        <% end %>
    <% end %>
    </div>
  </div>
    <div class="col-sm-3" style="margin-top: 125px;">
    <p>Find a board you like, and then click the <i class="fa fa-heart-o"></i> once there to save it to your personal page for later</p>
      <p> Don't like anything you see here? Why not <%= link_to "create your own board!", new_board_path %></p>
  </div>
</row>
</div>