<h1 class="pagetitle"> New Board </h1>

<div class="mainsplash center">
  <h2 align="center" style="color: #ccc"> Add a new board </h2>
  <br/>
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for :boardform, url: boards_path do |f| %>
      <%= f.text_field :name, class: "form-control", placeholder: "Board title" %>
      <br/>
      <%= f.text_area :description, class: "form-control", placeholder: "Board description" %>
      <br/>
      <%= f.submit "Create this board", class: 'btn btn-large btn-primary'%>
    <% end %>
  </div>
</div>