<h1 class="pagetitle"> <%= @boardname %> </h1>
  
<div  class="pagecontent">
<row>
  <div class="col-sm-9" style="min-height: 350px;">
    <div class="list-group">
      <% @posts.each do |x| %>
      <%= link_to x.title, board_post_path(@board.name, x.id), class: "list-group-item" %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3" style="margin-top: 50px;">
    <p> <%= @boarddescription %> </p>
    <%= link_to "Add a post", new_board_post_path(@board.name) %>
  </div>
  </row>
</div>