// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagetitle {
  position: fixed;
  top: -45px;
  z-index: 1031;
  left: 40%;
}

.pagecontent {
  margin-top: 50px;
}

.lovebutton {
  position: fixed;
  top: 50px;
  z-index: 100;
  right: 50px;
  background-color: #333;
  padding: 10px;
  width: 60px;
  -moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
border-bottom-left-radius: 20px;
}

.lovebutton i {
  font-size: 25px;
  color: #428BCA;
}

.lovebutton:hover i {
  color: #66aadd;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h3, h4, p {
  font-family: 'Montserrat', sans-serif;
}